*.bak
*.swp
*.tmp
*~.nib
*.iml
*.launch
*.swp
*.log
db/
db.version
.classpath
.DS_Store
.gradletasknamecache
.externalToolBuilders/
.gradle/
.idea/
.loadpath
.metadata
.prefs
.project
.recommenders/
.settings
.springBeans
.vertx
bin/
local.properties
target/
tmp/
build/
out/
web3j/
ganache-cli/
pow/src/main/resources/keys.json
!validator_test_data.json
/interopDepositsAndKeys.json
*.vscode/
pow/truffle/.vscode/
pow/truffle/node_modules/
pow/truffle/npm-debug.*
scripts/demo
config/runConfig.*
gradle/flow/
proto/build/
proto/gen/*
*.rlib
*.d
*.a
*.class
scripts/.java-version
config/peer_ids.dat
config/*.key
eth-reference-tests/src/test/
eth-reference-tests/src/referenceTest/generated/
eth-reference-tests/src/referenceTest/resources/eth2.0-spec-tests/


/teku.db
node_modules

/test-network/grafana/data
/test-network/grafana/logs
/test-network/grafana/provisioning/dashboards/teku-dashboard-grafana.json
/test-network/data/