[submodule "eth2.0-spec-tests"]
	path = eth-reference-tests/src/test/resources/eth2.0-spec-tests
	url = https://github.com/ethereum/eth2.0-spec-tests.git
[submodule "ganache-cli"]
	path = ganache-cli
	url = https://github.com/trufflesuite/ganache-cli.git
[submodule "mothra"]
	path = mothra
	url = https://github.com/jrhea/mothra.git
