[submodule "bacon-vision"]
	path = bacon-vision
	url = https://github.com/baconviewer/bacon-vision.git
[submodule "ganache-cli"]
	path = ganache-cli
	url = https://github.com/trufflesuite/ganache-cli.git
