<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

  <Appenders>

    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout>
        <Pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</Pattern>
      </PatternLayout>
    </Console>
  </Appenders>
  <Loggers>

    <Logger name="org.ethereum.beacon.discovery" level="trace" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>


    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
